.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.eventImage {
    width: 200px;
    height: 200px;
}

.wrapper {
    background: #FFFFFF;
    box-shadow: 0 16px 32px rgb(0 0 0 / 12%);
    border-radius: 16px;
    width: 50%;
    height: 77%;
    min-width: 400px;
    padding: 40px;
    margin: 0 auto;
    position: absolute;
    top: 7%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.card-wrapper {
    height: 86%;
    overflow: auto;
    display: grid;
    grid-gap: 1.5rem;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 3px solid #fff;
}
.card-wrapper ::-webkit-scrollbar {
    width: 10px;
}

.card-wrapper div {
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    min-height: 286px;
   /* margin: 17px 17px;*/
    border-radius: 6px;
    position: relative;
    color: #FFFFFF;
}
.cards-title{
    font-family: 'AvenirBold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #2E282C;
    margin: 0;
    line-height: 34px;
}
.select-wrapper{
    display: inline-block;
    vertical-align: top;
}
.select-block{
    font-size: 16px;
    color: #444;
    padding: 6px 7px;
    max-width: 100%;
    margin: 0 8px 0 7px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    border: 1px solid #444444;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}
.select-block:before{
    content: 'test';
    background: red;
    width: 10px;
    height: 10px;
}
.favorite-btn{
    width: 14px;
    height: 18px;
    background: url("img/ghj2.png");
    border: none;
    background-size: contain;
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
}
.active{
    background: url("img/gj1.png");
    background-size: contain;
}
.non-fav{
    background: url("img/ghj2.png");
    background-size: contain;
}
.date-block{
    font-size: 33px;
    color: #FFFFFF;
    width: 57px;
    height: 57px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 23px 23px;
    display: block;
    text-align: center;
    line-height: 59px;
}
.event-name-block{
    font-family: 'AvenirBold', sans-serif;
    position: absolute;
    width: 305px;
    height: 66px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 66px;
    left: 27px;
    bottom: 26px;
}
.block-margin-style{
    margin: 24px 0;
}
/*------------------------------------------------------*/
@media (min-width: 1400px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
