@font-face {
    font-family: "Avenir";
    src: url("./fonts/AvenirLTStd-Book.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "AvenirBold";
  src: url("./fonts/AvenirLTStd-Black.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Avenir',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F0F3FF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
